<div class="form-group">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-lock fa-fw"></i></span>
    </div>
    <input
      type="text"
      name="otp_code_token"
      id="otp_code_token"
      class="form-control"
      placeholder="Código 2FA"
      maxlength="6"
      />
  </div>
</div>
